  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
 
body { 
    background-color: ivory;
color: hsl(327, 94%, 50%);
line-height: 1.6;
}

/*Header*/
header{
    text-align: center;
    background:lch(86.65% 109.58 131.1) ;
    line-height: 2;
    padding: 20px;
}

header .profile img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    position: absolute;
    left: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-color: oklch(77.911% 0.16694 71.479);
}

/*section*/
main{
    padding: 20px;
}
section {
    background: hsla(180, 20%, 97%, 0.39);
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    text-align:center;
    margin-bottom: 15px;
    color:rgb(12, 12, 12);

}

/*schools Grid*/
.school-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
}

.school-card {
    background: #e0e0e2;
    border-radius:15px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/*Hobbies*/
#hobbies ul {
    list-style: square;
    padding-left: 40px;
}

/*footer*/
footer{
    text-align: center;
    padding: 15px;
    background: rgb(97, 235, 5);
    color: white;
}

/*responsive tweaks*/
@media (max-width:600px){
    nav ul{flex-direction: column;
        gap: 10px;
    }

    header.profile img{
        width: 80px;
        height: 80px;
    }
}